<%= simple_form_for :session, url: session_path do |form| %>
  <div class="text-field">
    <%= form.text_field :email, type: 'email', placeholder: 'Your email', required: true %>
  </div>

  <div class="password-field">
    <%= form.password_field :password, placeholder: 'Your password' %>
  </div>


  <div class="submit-field">
    <%= form.submit "Sign In Now", class: 'btn btn-lg btn-block purple-bg' %>
  </div>
<% end %>
