h1.text-center Your listings

div.col-md-10.col-md-offset-1.text-center
  - if @listings
    - @listings.each do |listing|
      = listing.state
  - else
    p You currently have no listings :(
    = link_to 'Create one now!', new_user_listing_path(current_user)

