<div id='clearance'>
	<div class='container'>
	<h2>Edit profile</h2>
	<%= bootstrap_form_for @user do |form| %>
		<%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit 'Update!', class: 'btn btn-primary' %>
    </div>
	<% end %>
	</div>
</div>