<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv="Content-type" />
	</head>
	<body>
		<h1>Congratulations! Your listing has received a booking from <%= @customer.name %></h1>
		<p>You can see the details of your new reservation here <%= @url %></p>
	</body>
</html>